body {
  background-color:white;
}

h1 {
  color:blue;
}

h2 {
  color:black;
}
p {
  font-family:cursive;
  text-align:center;
}

ul {
  text-decoration:none;
}

ol {
 line-height: 2.5;
}

.links:visited {
  color:orange;
}

a:visited {
  font-style:italic;
}

#name {
  font-size:20px;
  text-align:center;
}
.page {
  width:90%;
  height:90%;
  border: solid, 10px, black;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}
ul {
  display:inline;
}

